openapi: 3.1.0
info:
  title: IdentityCore Public API
  version: 0.3.0
  description: Public REST API surface plus workspace-authenticated portal routes used by IdentityCore SDKs and sandbox testing.
servers:
  - url: https://api.identitycore.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local development
security:
  - apiClient: []
    apiClientId: []
components:
  securitySchemes:
    apiClient:
      type: http
      scheme: bearer
      bearerFormat: API client secret
      description: Send the API client secret as a bearer token and the client ID in `X-Client-Id`.
    apiClientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Send the API client ID with the bearer API client secret.
    platformUserBearer:
      type: http
      scheme: bearer
      description: Portal JWT authentication used by authenticated workspace users.
    platformRefreshCookie:
      type: apiKey
      in: cookie
      name: identitycore_refresh
      description: Scoped HttpOnly refresh token cookie issued by platform-user login.
    verificationSessionBearer:
      type: http
      scheme: bearer
      bearerFormat: Verification session token
      description: Short-lived subject session token issued with a hosted verification link.
    verificationSessionId:
      type: apiKey
      in: header
      name: X-Session-Id
      description: Verification session identifier required when it is not present in the URL path.
  parameters:
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 255
      description: A caller-generated key retained for 24 hours. Reusing it with the same payload replays the original result.
  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    ErrorEnvelope:
      type: object
      required: [success, error, request_id]
      properties:
        success:
          const: false
        error:
          $ref: "#/components/schemas/Error"
        request_id:
          type: string
    WorkflowSummary:
      type: object
      required: [id, project_id, name, status, steps, settings, current_version]
      properties:
        id:
          type: string
        project_id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        steps:
          type: array
          items:
            type: string
        settings:
          type: object
          additionalProperties: true
        current_version:
          type: integer
        source_template_id:
          type: [string, "null"]
        source_template_version:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Policy:
      type: object
      required:
        - id
        - name
        - version
        - status
        - required_document_types
        - required_liveness_level
        - face_match_threshold
        - manual_review_threshold
        - maker_checker_required
        - verification_expiry_minutes
        - media_retention_days
        - metadata_retention_days
        - created_at
        - updated_at
      properties:
        id:
          type: string
          example: pol_01JABC
        name:
          type: string
        description:
          type: string
        version:
          type: integer
        status:
          type: string
          enum: [draft, active, archived]
        required_document_types:
          type: array
          items:
            type: string
            enum: [national_id, passport, driver_license, health_id, voter_id]
        required_liveness_level:
          type: string
          enum: [passive, active]
        face_match_threshold:
          type: number
        manual_review_threshold:
          type: number
        maker_checker_required:
          type: boolean
          description: Require an independent checker for every manual decision.
        verification_expiry_minutes:
          type: integer
        media_retention_days:
          type: integer
        metadata_retention_days:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    VerificationSubjectInput:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        phone_number:
          type: string
        date_of_birth:
          type: string
          format: date
        metadata:
          type: object
          additionalProperties: true
    VerificationCreateRequest:
      type: object
      required: [purpose, policy_id, verification_subject]
      properties:
        external_reference:
          type: string
        purpose:
          type: string
        policy_id:
          type: string
          description: Active verification policy/template ID. Required for API-client requests.
        project_id:
          type: string
          description: Project environment identifier. Defaults to the tenant's sandbox project for backward compatibility.
        verification_subject:
          $ref: "#/components/schemas/VerificationSubjectInput"
        redirect_url:
          type: string
          format: uri
        metadata:
          type: object
          additionalProperties: true
    PlatformUserLoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    PlatformUser:
      type: object
      required:
        [
          public_id,
          email,
          first_name,
          last_name,
          phone_number,
          status,
          tenant_public_id,
          tenant_name,
          tenant_status,
          is_platform_admin,
          mfa_enabled,
          roles,
          notification_preferences,
          last_login_at,
          created_at,
          updated_at,
        ]
      properties:
        public_id:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone_number:
          type: string
        status:
          type: string
        tenant_public_id:
          type: [string, "null"]
        tenant_name:
          type: [string, "null"]
        tenant_status:
          type: [string, "null"]
        is_platform_admin:
          type: boolean
        mfa_enabled:
          type: boolean
        roles:
          type: array
          items:
            type: string
        notification_preferences:
          type: object
          additionalProperties: true
        last_login_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PlatformUserMfaChallenge:
      type: object
      required: [mfa_required, mfa_enrollment_required, mfa_token]
      properties:
        mfa_required:
          type: boolean
          const: true
        mfa_enrollment_required:
          type: boolean
        mfa_token:
          type: string
    PlatformUserAuthentication:
      type: object
      required: [tokens, user]
      properties:
        tokens:
          type: object
          required: [access]
          properties:
            access:
              type: string
        user:
          $ref: "#/components/schemas/PlatformUser"
        recovery_codes:
          type: array
          description: One-time recovery codes returned only after MFA enrollment confirmation.
          items:
            type: string
    PlatformUserMfaEnrollmentRequest:
      type: object
      additionalProperties: false
      required: [mfa_token]
      properties:
        mfa_token:
          type: string
          description: Short-lived enrollment token returned by platform-user login.
    PlatformUserMfaCodeRequest:
      type: object
      additionalProperties: false
      required: [mfa_token, code]
      properties:
        mfa_token:
          type: string
          description: Short-lived MFA transaction token returned by platform-user login.
        code:
          type: string
          description: Six-digit authenticator code, or a recovery code for an MFA challenge.
    PlatformUserMfaEnrollment:
      type: object
      required: [secret, provisioning_uri]
      properties:
        secret:
          type: string
          description: Base32 TOTP secret to store in the user's authenticator.
        provisioning_uri:
          type: string
          format: uri
    VerificationPolicyCreateRequest:
      type: object
      additionalProperties: false
      description: The manual_review_threshold must be less than or equal to face_match_threshold.
      required:
        [
          name,
          required_document_types,
          required_liveness_level,
          face_match_threshold,
          manual_review_threshold,
          verification_expiry_minutes,
          media_retention_days,
          metadata_retention_days,
        ]
      properties:
        project_id:
          type: string
        name:
          type: string
          maxLength: 255
        description:
          type: string
        consent_template_id:
          type: string
        default_locale:
          type: string
          maxLength: 16
          default: en
        supported_locales:
          type: array
          items:
            type: string
            maxLength: 16
        required_document_types:
          type: array
          minItems: 1
          items:
            type: string
            enum: [national_id, passport, driver_license, health_id, voter_id]
        required_liveness_level:
          type: string
          enum: [passive, active]
        face_match_threshold:
          type: number
          minimum: 0
          maximum: 1
        manual_review_threshold:
          type: number
          minimum: 0
          maximum: 1
          description: Must be less than or equal to face_match_threshold.
        maker_checker_required:
          type: boolean
          default: false
        verification_expiry_minutes:
          type: integer
          minimum: 1
        media_retention_days:
          type: integer
          minimum: 1
        metadata_retention_days:
          type: integer
          minimum: 1
    VerificationPolicyCreateResponse:
      type: object
      required: [id, name, version, status]
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: integer
        status:
          type: string
          const: draft
    VerificationCreateResponse:
      type: object
      required: [id, status, verification_url, session_id, expires_at]
      properties:
        id:
          type: string
        status:
          type: string
        verification_url:
          type: string
          format: uri
        session_id:
          type: string
        session_token:
          type: string
          description: Raw session token returned only when issuing a fresh hosted link.
        expires_at:
          type: string
          format: date-time
    VerificationSessionConsentRequest:
      type: object
      additionalProperties: false
      required: [accepted]
      properties:
        accepted:
          type: boolean
          const: true
        template_id:
          type: string
          maxLength: 64
        version:
          type: integer
          minimum: 1
        locale:
          type: string
          maxLength: 16
        content_hash:
          type: string
          pattern: "^[a-f0-9]{64}$"
    VerificationSessionDocumentRequest:
      type: object
      additionalProperties: false
      required: [document_type, country_code, captures]
      example:
        document_type: passport
        country_code: GH
        captures:
          - side: single
            upload_id: upl_01JABC
      properties:
        document_type:
          type: string
          maxLength: 64
        country_code:
          type: string
          maxLength: 8
        captures:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [side, upload_id]
            properties:
              side:
                type: string
                enum: [front, back, single, mrz, other]
              upload_id:
                type: string
                maxLength: 64
    VerificationSessionSelfieRequest:
      type: object
      additionalProperties: false
      required: [capture_type, upload_id]
      properties:
        capture_type:
          type: string
          enum: [image, video]
        upload_id:
          type: string
          maxLength: 64
    VerificationSessionLivenessRequest:
      type: object
      additionalProperties: false
      required: [liveness_type, selfie_capture_id]
      if:
        properties:
          liveness_type:
            const: active
        required: [liveness_type]
      then:
        required: [challenge_id]
      properties:
        liveness_type:
          type: string
          enum: [passive, active]
        selfie_capture_id:
          type: string
          maxLength: 64
        challenge_id:
          type: string
          maxLength: 64
    VerificationMobileHandoffRedeemResponse:
      type: object
      required: [session_id, session_token, verification_id]
      properties:
        session_id:
          type: string
        session_token:
          type: string
        verification_id:
          type: string
    VerificationSessionResponse:
      type: object
      required:
        [
          session_id,
          verification_id,
          status,
          organization,
          purpose,
          redirect_url,
          required_steps,
          workflow,
          locale,
          supported_locales,
          direction,
          consent,
          document,
          available_documents,
          available_countries,
          expires_at,
        ]
      properties:
        session_id:
          type: string
        verification_id:
          type: string
        status:
          type: string
        organization:
          type: object
          additionalProperties: true
        purpose:
          type: string
        redirect_url:
          type: string
        required_steps:
          type: array
          items:
            type: string
        workflow:
          type: object
          additionalProperties: true
        locale:
          type: string
        supported_locales:
          type: array
          items:
            type: string
        direction:
          type: string
          enum: [ltr, rtl]
        consent:
          type: object
          additionalProperties: true
        document:
          type: object
          additionalProperties: true
        available_documents:
          type: array
          items:
            type: object
            additionalProperties: true
        available_countries:
          type: array
          items:
            type: object
            additionalProperties: true
        expires_at:
          type: string
          format: date-time
    VerificationSessionConsentResponse:
      type: object
      required: [consent_record_id, next_step]
      properties:
        consent_record_id:
          type: string
        next_step:
          type: string
          const: document_capture
    VerificationSessionDocumentResponse:
      type: object
      required: [identity_document_id, status, next_step]
      properties:
        identity_document_id:
          type: string
        status:
          type: string
        next_step:
          type: string
          const: document_processing
    VerificationSessionSelfieResponse:
      type: object
      required: [selfie_capture_id, status, next_step]
      properties:
        selfie_capture_id:
          type: string
        status:
          type: string
          const: processing
        next_step:
          type: string
          const: liveness_check
    VerificationSessionLivenessResponse:
      type: object
      required: [liveness_check_id, status]
      properties:
        liveness_check_id:
          type: string
        status:
          type: string
          const: processing
    VerificationSessionLivenessChallengeResponse:
      type: object
      required: [challenge_id, actions, expires_at]
      properties:
        challenge_id:
          type: string
        actions:
          type: array
          items:
            type: string
            enum: [turn_left, turn_right, look_up, look_down]
        expires_at:
          type: string
          format: date-time
    VerificationSessionStatusResponse:
      type: object
      required: [verification_id, status, current_step, message, evidence]
      properties:
        verification_id:
          type: string
        status:
          type: string
        current_step:
          type: string
        message:
          type: string
        evidence:
          type: object
          additionalProperties: false
          required: [identity_document_id, selfie_capture_id, liveness_check_id]
          properties:
            identity_document_id:
              type: string
            selfie_capture_id:
              type: string
            liveness_check_id:
              type: string
    VerificationMobileHandoffResponse:
      type: object
      required: [handoff_url, expires_at]
      properties:
        handoff_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
    VerificationSummary:
      type: object
      required:
        [id, status, purpose, external_reference, subject, policy, created_at]
      properties:
        id:
          type: string
        status:
          type: string
        purpose:
          type: string
        external_reference:
          type: string
        subject:
          type: object
          properties:
            id:
              type: string
            full_name:
              type: string
            email:
              type: string
        policy:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            version:
              type: integer
        created_at:
          type: string
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
    VerificationDetail:
      type: object
      required:
        [
          id,
          status,
          purpose,
          policy,
          workflow,
          external_reference,
          verification_subject,
          checks,
          risk_assessment,
          document_classification,
          evidence_report,
          decision,
          created_at,
          completed_at,
          expires_at,
        ]
      properties:
        id:
          type: string
        status:
          type: string
        purpose:
          type: string
        policy:
          type: object
          additionalProperties: true
        workflow:
          type: object
          additionalProperties: true
        external_reference:
          type: string
        verification_subject:
          type: object
          required: [id, full_name]
          properties:
            id:
              type: string
            full_name:
              type: string
        checks:
          type: object
          additionalProperties: true
        risk_assessment:
          type: [object, "null"]
          additionalProperties: true
        document_classification:
          type: [object, "null"]
          additionalProperties: true
        evidence_report:
          type: [object, "null"]
          additionalProperties: true
        decision:
          type: [object, "null"]
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
        expires_at:
          type: string
          format: date-time
    VerificationResult:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - verification_id
        - status
        - decision
        - policy
        - workflow
        - check_provenance
        - timestamps
      properties:
        schema_version:
          type: string
          const: "1"
        verification_id:
          type: string
        status:
          type: string
        decision:
          type: [object, "null"]
          additionalProperties: false
          required:
            - outcome
            - type
            - reason_codes
            - approval_status
            - contract_version
            - decided_at
          properties:
            outcome:
              type: string
            type:
              type: string
            reason_codes:
              type: array
              items:
                type: string
            approval_status:
              type: string
            contract_version:
              type: string
            decided_at:
              type: string
              format: date-time
        policy:
          type: object
          additionalProperties: false
          required: [policy_id, version]
          properties:
            policy_id:
              type: [string, "null"]
            version:
              type: [integer, "null"]
        workflow:
          type: object
          additionalProperties: false
          required: [workflow_id, version_id, version]
          properties:
            workflow_id:
              type: [string, "null"]
            version_id:
              type: [string, "null"]
            version:
              type: [integer, "null"]
        check_provenance:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - check_id
              - capability
              - status
              - provider
              - capability_contract_version
              - evidence
              - error_code
              - started_at
              - completed_at
              - duration_ms
            properties:
              check_id:
                type: string
              capability:
                type: string
              status:
                type: string
              provider:
                type: object
                additionalProperties: false
                required: [provider_id, code, type]
                properties:
                  provider_id:
                    type: string
                  code:
                    type: string
                  type:
                    type: string
              capability_contract_version:
                type: [string, "null"]
              evidence:
                type: object
                additionalProperties: false
                properties:
                  confidence_level:
                    type: string
                  confidence_score:
                    type: number
                  score:
                    type: number
                  match_score:
                    type: number
                  quality_score:
                    type: number
                  threshold_used:
                    type: number
                  model:
                    type: object
                    additionalProperties: false
                    required: [name, version]
                    properties:
                      name:
                        type: string
                      version:
                        type: string
                  issues:
                    type: array
                    items:
                      type: string
              error_code:
                type: [string, "null"]
              started_at:
                type: string
                format: date-time
              completed_at:
                type: [string, "null"]
                format: date-time
              duration_ms:
                type: [integer, "null"]
        timestamps:
          type: object
          additionalProperties: false
          required: [created_at, updated_at, completed_at, expires_at]
          properties:
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            completed_at:
              type: [string, "null"]
              format: date-time
            expires_at:
              type: string
              format: date-time
    CursorPagination:
      type: object
      description: Cursor pagination metadata. Cursors are opaque and must be reused with the same filters.
      required: [limit, next_cursor, has_more]
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        next_cursor:
          type: [string, "null"]
        has_more:
          type: boolean
    PagePagination:
      type: object
      required: [page, page_size, total, total_pages]
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
    AuditEvent:
      type: object
      required:
        [
          id,
          actor_type,
          actor_id,
          action,
          action_label,
          actor_display_name,
          target_type,
          target_id,
          target_label,
          ip_address,
          user_agent,
          metadata,
          created_at,
        ]
      properties:
        id:
          type: string
        actor_type:
          type: string
        actor_id:
          type: string
        action:
          type: string
        action_label:
          type: string
        actor_display_name:
          type: string
        target_type:
          type: string
        target_id:
          type: string
        target_label:
          type: string
        ip_address:
          type: [string, "null"]
        user_agent:
          type: string
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    EvidenceReport:
      type: object
      required:
        [
          verification_id,
          storage_key,
          download_url,
          pdf_storage_key,
          pdf_download_url,
        ]
      properties:
        verification_id:
          type: string
        storage_key:
          type: string
        download_url:
          type: string
          format: uri
        pdf_storage_key:
          type: string
        pdf_download_url:
          type: string
          format: uri
    PortalUploadCreateRequest:
      type: object
      required: [purpose, mime_type, file_size_bytes]
      example:
        purpose: document_capture
        mime_type: image/jpeg
        file_size_bytes: 1048576
      oneOf:
        - title: Document capture
          properties:
            purpose:
              const: document_capture
            mime_type:
              enum: [image/jpeg, image/png, image/webp]
            file_size_bytes:
              maximum: 10485760
        - title: Selfie capture
          properties:
            purpose:
              const: selfie_capture
            mime_type:
              enum: [image/jpeg, image/png, image/webp]
            file_size_bytes:
              maximum: 10485760
        - title: Liveness capture
          properties:
            purpose:
              const: liveness_capture
            mime_type:
              enum: [video/mp4, video/quicktime, video/webm]
            file_size_bytes:
              maximum: 26214400
      properties:
        purpose:
          type: string
          enum: [document_capture, selfie_capture, liveness_capture]
        mime_type:
          type: string
        file_size_bytes:
          type: integer
          minimum: 1
    PortalUploadCreateResponse:
      type: object
      required:
        [
          upload_id,
          upload_url,
          upload_headers,
          upload_transfer_path,
          upload_complete_path,
          expires_at,
        ]
      properties:
        upload_id:
          type: string
        upload_url:
          type: string
          format: uri
        upload_headers:
          type: object
          additionalProperties:
            type: string
        upload_transfer_path:
          type: string
        upload_complete_path:
          type: string
        expires_at:
          type: string
          format: date-time
    PortalUploadTransferResponse:
      type: object
      required: [upload_id]
      properties:
        upload_id:
          type: string
    OrganizationProfile:
      type: object
      required: [id, name, slug, status, settings, sandbox_usage]
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        industry:
          type: string
        status:
          type: string
        tenant_id:
          type: string
        tenant_name:
          type: string
        tenant_status:
          type: string
        default_country_profile_id:
          type: string
        default_jurisdiction_id:
          type: string
        settings:
          type: object
          additionalProperties: true
        sandbox_usage:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrganizationBrandingAssetUploadRequest:
      type: object
      required: [asset_type, filename, mime_type]
      example:
        asset_type: logo
        filename: logo.png
        mime_type: image/png
      properties:
        asset_type:
          type: string
          enum: [logo, branding_image]
        filename:
          type: string
          pattern: "\\.(png|jpg|jpeg|svg|webp)$"
        mime_type:
          type: string
          pattern: "^image/"
    OrganizationBrandingAssetUploadResponse:
      type: object
      required: [asset_type, storage_key, bucket_name, upload_url, asset_url]
      properties:
        asset_type:
          type: string
        storage_key:
          type: string
        bucket_name:
          type: string
        upload_url:
          type: string
          format: uri
        asset_url:
          type: string
          format: uri
    OrganizationSupportingDocumentUploadRequest:
      type: object
      required: [filename, mime_type, file_size_bytes]
      example:
        filename: incorporation-certificate.pdf
        mime_type: application/pdf
        file_size_bytes: 1048576
      properties:
        filename:
          type: string
          pattern: "\\.pdf$"
        mime_type:
          type: string
          const: application/pdf
        file_size_bytes:
          type: integer
          minimum: 1
          maximum: 10485760
    OrganizationSupportingDocumentUploadResponse:
      type: object
      required:
        [
          document_id,
          filename,
          file_size_bytes,
          status,
          storage_key,
          download_url,
          upload_url,
        ]
      properties:
        document_id:
          type: string
        filename:
          type: string
        file_size_bytes:
          type: integer
        status:
          type: string
        storage_key:
          type: string
        download_url:
          type: string
          format: uri
        upload_url:
          type: string
          format: uri
    OrganizationSupportingDocumentCompleteResponse:
      type: object
      required: [document_id, status]
      properties:
        document_id:
          type: string
        status:
          type: string
    OrganizationSupportingDocumentDeleteResponse:
      type: object
      required: [document_id, deleted]
      properties:
        document_id:
          type: string
        deleted:
          type: boolean
    ProjectSummary:
      type: object
      required:
        [
          id,
          name,
          slug,
          environment,
          status,
          allowed_origins,
          is_default,
          created_at,
          updated_at,
        ]
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        environment:
          type: string
          enum: [sandbox, production]
        status:
          type: string
        allowed_origins:
          type: array
          items:
            type: string
        is_default:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProjectCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        slug:
          type: string
        environment:
          type: string
          enum: [sandbox, production]
        allowed_origins:
          type: array
          items:
            type: string
            format: uri
    ProjectUpdateRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
        slug:
          type: string
        environment:
          type: string
          enum: [sandbox, production]
        allowed_origins:
          type: array
          items:
            type: string
            format: uri
    APIClientSummary:
      type: object
      required:
        [
          public_id,
          tenant_public_id,
          name,
          client_id,
          status,
          scopes,
          allowed_networks,
          rate_limit_per_minute,
          created_at,
          updated_at,
        ]
      properties:
        public_id:
          type: string
        tenant_public_id:
          type: string
        project_id:
          type: [string, "null"]
        name:
          type: string
        client_id:
          type: string
        status:
          type: string
        scopes:
          type: array
          minItems: 1
          items:
            type: string
        allowed_networks:
          type: array
          items:
            type: string
        rate_limit_per_minute:
          type: integer
        last_used_at:
          type: [string, "null"]
          format: date-time
        client_secret_overlap_expires_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    APIClientCreateRequest:
      type: object
      required: [name, scopes]
      properties:
        project_id:
          type: string
        name:
          type: string
        scopes:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              [
                policies:read,
                verifications:create,
                verifications:read,
                verifications:write,
              ]
        allowed_networks:
          type: array
          items:
            type: string
        rate_limit_per_minute:
          type: integer
          minimum: 1
    APIClientCreateResponse:
      allOf:
        - $ref: "#/components/schemas/APIClientSummary"
        - type: object
          required: [client_secret]
          properties:
            client_secret:
              type: string
    APIClientActionResponse:
      allOf:
        - $ref: "#/components/schemas/APIClientSummary"
        - type: object
          properties:
            client_secret:
              type: string
              description: Returned only when the action is rotate.
    WebhookEndpointSummary:
      type: object
      required:
        [
          id,
          url,
          events,
          status,
          signing_secret_version,
          previous_secret_expires_at,
          created_at,
          updated_at,
        ]
      properties:
        id:
          type: string
        project_id:
          type: [string, "null"]
        url:
          type: string
          format: uri
        description:
          type: string
        events:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              - verification.created
              - verification.consent_accepted
              - verification.document_uploaded
              - verification.selfie_uploaded
              - verification.processing
              - verification.manual_review_required
              - verification.verified
              - verification.rejected
              - verification.failed
              - verification.expired
              - verification.cancelled
        status:
          type: string
        signing_secret_version:
          type: integer
          minimum: 1
        previous_secret_expires_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WebhookEndpointCreateRequest:
      type: object
      required: [url, events]
      properties:
        project_id:
          type: string
        url:
          type: string
          format: uri
        description:
          type: string
        events:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              - verification.created
              - verification.consent_accepted
              - verification.document_uploaded
              - verification.selfie_uploaded
              - verification.processing
              - verification.manual_review_required
              - verification.verified
              - verification.rejected
              - verification.failed
              - verification.expired
              - verification.cancelled
    WebhookEndpointCreateResponse:
      type: object
      required: [id, secret, status]
      properties:
        id:
          type: string
        secret:
          type: string
        status:
          type: string
    WebhookEndpointTestResponse:
      type: object
      required: [queued]
      properties:
        queued:
          type: boolean
    ManualReviewSummary:
      type: object
      required:
        [verification_id, status, purpose, subject, risk_level, created_at]
      properties:
        verification_id:
          type: string
        status:
          type: string
        purpose:
          type: string
        subject:
          type: object
          properties:
            id:
              type: string
            full_name:
              type: string
            email:
              type: string
        risk_level:
          type: string
        document_classification:
          type: [object, "null"]
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    ManualReviewDecisionRequest:
      type: object
      required: [decision, reason_code]
      properties:
        decision:
          type: string
          enum: [verified, rejected, failed]
        reason_code:
          type: string
        reason_detail:
          type: string
    ManualReviewDecisionResponse:
      type: object
      required: [verification_id, decision, decision_type, decided_at]
      properties:
        verification_id:
          type: string
        decision:
          type: string
        decision_type:
          type: string
        decided_at:
          type: string
          format: date-time
    ManualReviewPendingDecisionResponse:
      type: object
      required: [verification_id, decision, approval_status, approval_required]
      properties:
        verification_id:
          type: string
        decision:
          type: string
        approval_status:
          type: string
          const: pending
        approval_required:
          type: boolean
          const: true
    ManualReviewApprovalRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [verified, rejected, failed]
    ManualReviewApprovalResponse:
      type: object
      required: [verification_id, decision, approval_status]
      properties:
        verification_id:
          type: string
        decision:
          type: string
        approval_status:
          type: string
          const: approved
  responses:
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    PermissionDenied:
      description: Authentication failed or scope is missing.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Resource was not found in the authenticated tenant.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
paths:
  /health:
    get:
      security: []
      summary: Check API availability.
      responses:
        "200":
          description: Service status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                      service:
                        type: string
                        example: django
                      version:
                        type: string
                  request_id:
                    type: string
  /document-types:
    get:
      security: []
      summary: List supported document types.
      description: Returns the public bootstrap catalog of identity document types.
      responses:
        "200":
          description: Supported document types.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      required: [code, name]
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                  request_id:
                    type: string
              example:
                success: true
                data:
                  - code: national_id
                    name: National ID
                request_id: req_01JABC
  /auth/login:
    post:
      security: []
      summary: Authenticate a platform user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformUserLoginRequest"
      responses:
        "200":
          description: Authentication succeeded and the refresh token was set in an HttpOnly cookie.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PlatformUserAuthentication"
                  request_id:
                    type: string
        "202":
          description: A multi-factor authentication challenge or enrollment is required.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PlatformUserMfaChallenge"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /auth/mfa/enroll:
    post:
      security: []
      summary: Start platform-user MFA enrollment.
      description: Exchanges the short-lived enrollment token returned by login for TOTP provisioning material.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformUserMfaEnrollmentRequest"
      responses:
        "200":
          description: TOTP provisioning material was issued.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PlatformUserMfaEnrollment"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /auth/mfa/enroll/confirm:
    post:
      security: []
      summary: Confirm platform-user MFA enrollment and finish login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformUserMfaCodeRequest"
      responses:
        "200":
          description: MFA enrollment was confirmed, recovery codes were issued, and login completed.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PlatformUserAuthentication"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /auth/mfa/challenge:
    post:
      security: []
      summary: Complete a platform-user MFA login challenge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformUserMfaCodeRequest"
      responses:
        "200":
          description: The second factor was accepted and login completed.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PlatformUserAuthentication"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /auth/refresh:
    post:
      security:
        - platformRefreshCookie: []
      summary: Rotate the refresh cookie and issue a platform-user access token.
      description: Requires the scoped HttpOnly refresh cookie and a trusted Origin header.
      responses:
        "200":
          description: A new access token was issued.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    required: [tokens]
                    properties:
                      tokens:
                        type: object
                        required: [access]
                        properties:
                          access:
                            type: string
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /auth/me:
    get:
      summary: Retrieve the authenticated platform user and tenant context.
      security:
        - platformUserBearer: []
      responses:
        "200":
          description: Current platform user.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    required: [user]
                    properties:
                      user:
                        $ref: "#/components/schemas/PlatformUser"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /country-profiles:
    get:
      security: []
      summary: List supported country verification profiles.
      description: Returns the public country-to-document capture requirements catalog.
      responses:
        "200":
          description: Supported country profiles.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      required: [code, name, supported_document_types]
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        supported_document_types:
                          type: array
                          items:
                            type: object
                            required: [document_type, local_name, capture_sides]
                            properties:
                              document_type:
                                type: string
                              local_name:
                                type: string
                              capture_sides:
                                type: array
                                items:
                                  type: string
                  request_id:
                    type: string
              example:
                success: true
                data:
                  - code: GH
                    name: Ghana
                    supported_document_types:
                      - document_type: national_id
                        local_name: National ID
                        capture_sides: [front, back]
                request_id: req_01JABC
  /countries:
    get:
      security: []
      summary: List supported countries.
      description: Returns the public ISO 3166-1 alpha-2 country catalog.
      responses:
        "200":
          description: Supported countries.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      required: [code, name]
                      properties:
                        code:
                          type: string
                          minLength: 2
                          maxLength: 2
                        name:
                          type: string
                  request_id:
                    type: string
              example:
                success: true
                data:
                  - code: GH
                    name: Ghana
                request_id: req_01JABC
  /sessions/mobile-handoff/redeem:
    post:
      security: []
      summary: Redeem a one-time mobile handoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [handoff]
              properties:
                handoff:
                  type: string
      responses:
        "200":
          description: A new verification session was issued.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationMobileHandoffRedeemResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
  /sessions/{session_id}:
    get:
      summary: Retrieve the hosted verification session.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification session state and allowed actions.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionResponse"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/consent:
    post:
      summary: Record consent for the verification session.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationSessionConsentRequest"
      responses:
        "200":
          description: Consent was recorded.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionConsentResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/documents:
    post:
      summary: Submit document capture metadata for the verification session.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationSessionDocumentRequest"
      responses:
        "200":
          description: Document capture was accepted for processing.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionDocumentResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/selfies:
    post:
      summary: Submit a selfie capture for the verification session.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationSessionSelfieRequest"
      responses:
        "200":
          description: Selfie capture was accepted for processing.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionSelfieResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/liveness:
    post:
      summary: Submit liveness evidence for the verification session.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationSessionLivenessRequest"
      responses:
        "200":
          description: Liveness evidence was accepted for processing.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionLivenessResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/liveness/challenge:
    post:
      summary: Issue an active liveness challenge.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        "200":
          description: Liveness challenge details.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionLivenessChallengeResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/status:
    get:
      summary: Retrieve verification-session progress.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification-session progress and next action.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationSessionStatusResponse"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /sessions/{session_id}/mobile-handoff:
    post:
      summary: Create a one-time mobile handoff.
      security:
        - verificationSessionBearer: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Mobile handoff URL and expiry.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationMobileHandoffResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
  /audit-events/:
    get:
      summary: List tenant audit events.
      security:
        - platformUserBearer: []
      parameters:
        - name: actor_type
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: target_type
          in: query
          schema:
            type: string
        - name: target_id
          in: query
          schema:
            type: string
        - name: created_from
          in: query
          schema:
            type: string
            format: date
        - name: created_to
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: A tenant-scoped page of audit events.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    required: [results, pagination]
                    properties:
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/AuditEvent"
                      pagination:
                        $ref: "#/components/schemas/PagePagination"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /audit-events/{event_id}:
    get:
      summary: Retrieve a tenant audit event.
      security:
        - platformUserBearer: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tenant audit event details.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/AuditEvent"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /policies/:
    get:
      summary: List active verification policies/templates.
      description: API clients need `policies:read` and receive active policies only.
      responses:
        "200":
          description: Active policies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
    post:
      summary: Create a draft verification policy.
      description: Platform-user JWT authentication is required; API clients cannot create policies.
      security:
        - platformUserBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationPolicyCreateRequest"
      responses:
        "201":
          description: Draft verification policy created.
          content:
            application/json:
              schema:
                type: object
                required: [success, data, request_id]
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationPolicyCreateResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /policies/{policy_id}:
    get:
      summary: Retrieve an active verification policy/template.
      parameters:
        - name: policy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Active policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/Policy"
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /verifications/:
    get:
      summary: List verifications.
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: external_reference
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor returned by the previous page; reuse it with unchanged filters.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Verification page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/VerificationSummary"
                      pagination:
                        $ref: "#/components/schemas/CursorPagination"
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
    post:
      summary: Create a hosted verification request.
      description: Requires `verifications:create`; API-client requests must include an active `policy_id` and an idempotency key.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationCreateRequest"
      responses:
        "201":
          description: Created verification.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationCreateResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "409":
          description: The idempotency key was previously used with a different payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /verifications/{verification_id}:
    get:
      summary: Retrieve a verification.
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationDetail"
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /verifications/{verification_id}/result:
    get:
      summary: Retrieve the stable versioned verification result.
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Versioned verification result with allowlisted evidence lineage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/VerificationResult"
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /verifications/{verification_id}/cancel:
    post:
      summary: Cancel a verification.
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Cancelled verification.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        example: cancelled
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /verifications/{verification_id}/resend-link:
    post:
      summary: Reissue and resend a verification link.
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  enum: [email]
                  default: email
      responses:
        "200":
          description: Fresh verification link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      sent:
                        type: boolean
                      verification_url:
                        type: string
                        format: uri
                      session_id:
                        type: string
                      session_token:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
                      channel:
                        type: string
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /verifications/{verification_id}/evidence-report:
    get:
      summary: Get evidence-report download URLs.
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Evidence report URLs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/EvidenceReport"
                  request_id:
                    type: string
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /uploads/:
    post:
      summary: Create a temporary upload transfer.
      description: Workspace-authenticated users create uploads before transferring file bytes from the browser or app.
      security:
        - verificationSessionBearer: []
          verificationSessionId: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortalUploadCreateRequest"
      responses:
        "201":
          description: Upload transfer details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PortalUploadCreateResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /uploads/{upload_id}/transfer:
    post:
      summary: Transfer file bytes into temporary storage.
      description: Accepts the raw file bytes for a previously created upload transfer.
      security:
        - verificationSessionBearer: []
          verificationSessionId: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PortalUploadTransferResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /uploads/{upload_id}/complete:
    post:
      summary: Validate and finalize a direct object-storage upload.
      description: Retrieves bounded uploaded bytes, validates declared size, media type, and content, then moves validated bytes to a non-replayable storage key before the upload can be submitted as evidence.
      security:
        - verificationSessionBearer: []
          verificationSessionId: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Upload validated and finalized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/PortalUploadTransferResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /organization/me/:
    get:
      summary: Get the current organization profile.
      description: Returns the authenticated workspace's organization settings and sandbox usage.
      security:
        - platformUserBearer: []
      responses:
        "200":
          description: Organization profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/OrganizationProfile"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
    patch:
      summary: Update organization branding settings.
      security:
        - platformUserBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                logo_storage_key:
                  type: string
                branding_image_storage_keys:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Updated organization profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/OrganizationProfile"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /organization/me/branding/assets/upload/:
    post:
      summary: Create a branding asset upload.
      security:
        - platformUserBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationBrandingAssetUploadRequest"
      responses:
        "201":
          description: Branding asset upload details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/OrganizationBrandingAssetUploadResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /organization/me/verification-documents/upload/:
    post:
      summary: Create a supporting document upload.
      description: Workspace-authenticated users upload organization verification documents to the public asset bucket.
      security:
        - platformUserBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationSupportingDocumentUploadRequest"
      responses:
        "201":
          description: Supporting document upload details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/OrganizationSupportingDocumentUploadResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /organization/me/verification-documents/{document_id}/complete/:
    post:
      summary: Mark a supporting document upload complete.
      security:
        - platformUserBearer: []
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Supporting document status update.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/OrganizationSupportingDocumentCompleteResponse"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /organization/me/verification-documents/{document_id}/:
    delete:
      summary: Delete a supporting document.
      security:
        - platformUserBearer: []
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Supporting document deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/OrganizationSupportingDocumentDeleteResponse"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /organization/me/verification-documents/{document_id}/content/:
    put:
      summary: Transfer supporting document bytes.
      description: Upload the PDF bytes for an initiated organization supporting document.
      security:
        - platformUserBearer: []
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            const: application/pdf
      requestBody:
        required: true
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Supporting document bytes stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      document_id:
                        type: string
                      status:
                        const: stored
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          description: The uploaded document is not a PDF.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /organization/me/suspend:
    post:
      summary: Suspend the current workspace.
      description: Requires the exact organization name as confirmation and disables active workspace credentials and sessions.
      security:
        - platformUserBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation:
                  type: string
      responses:
        "200":
          description: Workspace suspended.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    required: [suspended]
                    properties:
                      suspended:
                        const: true
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /projects/:
    get:
      summary: List projects.
      security:
        - platformUserBearer: []
      parameters:
        - name: environment
          in: query
          schema:
            type: string
            enum: [sandbox, production]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended]
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Project list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/ProjectSummary"
                      pagination:
                        $ref: "#/components/schemas/PagePagination"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
    post:
      summary: Create a project.
      security:
        - platformUserBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreateRequest"
      responses:
        "201":
          description: Created project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/ProjectSummary"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
  /projects/{project_id}:
    get:
      summary: Retrieve a project.
      security:
        - platformUserBearer: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Project detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/ProjectSummary"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update a project.
      security:
        - platformUserBearer: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdateRequest"
      responses:
        "200":
          description: Updated project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/ProjectSummary"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /projects/{project_id}/{action}:
    post:
      summary: Suspend or reactivate a project.
      security:
        - platformUserBearer: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum: [suspend, activate]
      responses:
        "200":
          description: Updated project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/ProjectSummary"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
  /projects/{project_id}/workflows:instantiate:
    post:
      summary: Instantiate a workflow template in a project.
      description: Creates an idempotent workflow from a published template. Production projects require an approved organization.
      security:
        - platformUserBearer: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template_id, template_version]
              properties:
                template_id:
                  type: string
                template_version:
                  type: string
                name:
                  type: string
      responses:
        "201":
          description: Workflow instantiated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/WorkflowSummary"
                  request_id:
                    type: string
        "200":
          description: Existing idempotent workflow returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/WorkflowSummary"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency key conflicts with a previous request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-clients/:
    get:
      summary: List API clients.
      security:
        - platformUserBearer: []
      responses:
        "200":
          description: API client list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/APIClientSummary"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
    post:
      summary: Create an API client.
      description: Pending workspaces can use this route to mint a sandbox test key for API testing.
      security:
        - platformUserBearer: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/APIClientCreateRequest"
      responses:
        "201":
          description: Created API client.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/APIClientCreateResponse"
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "409":
          description: The idempotency key was previously used with a different request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api-clients/{client_id}:
    get:
      summary: Retrieve an API client.
      security:
        - platformUserBearer: []
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: API client detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: "#/components/schemas/APIClientSummary"
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/PermissionDenied"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update an API client.
      security:
        - platformUserBearer: []
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
[...]
